@page "/register"
@inject HttpClient Http
@using QuestionBankClient.Model

<h3>Register</h3>

<EditForm Model="@registerModel" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="registerModel.Username" />
    </div>
    <div>
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="registerModel.Email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" type="password" @bind-Value="registerModel.Password" />
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <InputText id="confirmPassword" type="password" @bind-Value="registerModel.ConfirmPassword" />
    </div>
    <button type="submit">Register</button>
</EditForm>

@code {
    private RegisterDto registerModel = new RegisterDto();

    private async Task HandleRegister()
    {
        var response = await Http.PostAsJsonAsync("api/Auth/register", registerModel);
        if (response.IsSuccessStatusCode)
        {
            // Handle successful registration
        }
        else
        {
            // Handle error
        }
    }
}
